<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    // Cursor element
    .cursor

    // Content
    .wrapper
      .carousel#carousel
        .carousel-content
          .carousel-item.active
            img(src="../assets/images/n2.jpg", alt="")
            span 1
          .carousel-item
            img(src="../assets/images/n4.jpg", alt="")
            span 2
          .carousel-item
            img(src="../assets/images/n2.jpg", alt="")
            span 3
          .carousel-item
            img(src="../assets/images/n4.jpg", alt="")
            span 4

        .carousel-controls
          .carousel-controls-prev(role="button")
          .carousel-controls-next(role="button")
